/* */
/* Structure CSS - Adjusting Bootstrap*/

.container-fluid {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.nav-row{
    width: 100%;
}

.navbar {
    width: 100%;
    padding: 0rem 1.5rem;
}

/* Structure CSS - My Content*/

.mainContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(15, 15, 15);
    color: whitesmoke;
}

    /* Topic Button Header*/
    .topic-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .topicButton{
        margin: 1%;
    }

    /* Giff Container and Cards*/
    .gifBucket{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card{
        margin: 1.5%;
        background-color: transparent;
        border: solid teal 3px; 
    }

    .card-body{
        padding: 2%;
    }

    .card-inner-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .favoriteThisText{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-self: center;
        padding:0;
    }

    /* Topic Adding Zone*/
    .topicAdd{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .favZone{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
    }
    
    .addForm{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .addTitle{
        text-align: center;
        justify-self: center;
    }

    .addTopicBtn{
        width: 150px;
        justify-self: center;
    }
